<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>

    <div id="app">
        <p>
            <input type="text" v-model="greeting"> <!-- v-model directive is doing 2 things - 1: Binding the value of the input to whatever you pass in the input and this case screenin, but it's also listening for when you type into input and when you do it updates the underlying value-->
        </p>
        <p>
            {{ greeting }} ({{ greeting.length }})
        </p>

    </div>

    <script>
        Vue.createApp({ //within our object here for the application,
            data() {     //we'll add a method called data and that well return an object
                return {

                    greeting: 'Hello world' //we'll set greeting to hello world
                };
            },
            mounted(){
                setTimeout(() => {
                    this.greeting = 'Changed';
                }, 3000);
            }
        }).mount('#app');
    </script>
</body>

</html>